# Node / Next / Build
node_modules/
.npm/
.pnpm-store/
.next/
out/
build/
.vercel/

# ✅ allow dist for server build
# (ignore all but compiled js files)
dist/*
!dist/**/*.js
!dist/**/*.json
!dist/**/*.map

# Env & secrets
.env
.env.*
!.env.example

# Logs & misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
.DS_Store
coverage/
.vercel
